.app {
  align-items: center;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  position: relative;
  width: 100%;
}

/* Button group */
.button-group {
  bottom: 12px;
  display: flex;
  justify-content: center;
  left: 0;
  margin-top: auto;
  position: absolute;
  right: 0;
}

button {
  background: #fcfcff;
}

.link:hover,
button:hover {
  transition: all 0.1s ease-in;
}

/* Textarea */
.textarea > textarea {
  background: #fcfcff;
  height: 700px;
  width: 100%;

  border: none;
  outline: none;
  resize: none;
}

@media (max-width: 900px) {
  .textarea > textarea {
    height: 450px;
  }
}
