.App {
  align-items: center;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-top: 10px solid #50e3c2;
  margin-top: -10px;
  box-shadow: inset 0 10px 0 #50e3c2;
}

.App-content {
  flex-grow: 1;
  max-width: 650px;
  padding: 2em;
  padding-top: 120px;
  position: relative;
  width: 100%;
}

/* Button group */
.App-button-group {
  bottom: 12px;
  display: flex;
  justify-content: center;
  left: 0;
  margin-top: auto;
  position: absolute;
  right: 0;
}

.App-button-group .App-button {
  margin-right: 1em;
}
.App-button-group .App-button:last-child {
  margin-right: 0;
}

/* Button */
.App-button {
  background: none;
  border: 1px solid #4a4a4a;
  border-radius: 999px;
  color: #4a4a4a;
  font-family: "Noto Serif", serif;
  font-size: 1em;
  padding: 8px 2em;
}

.App-button-dark {
  background: #4a4a4a;
  color: #ffffff;
  font-weight: normal;
}

.App-button:hover {
  background: #4a4a4a;
  color: #ffffff;
  transition: all 0.2s ease-out;
}

/* Landing */
.App-title {
  font-size: 2em;
  font-weight: normal;
  margin: 0;
}

.App-title--results {
  max-width: 450px;
  margin: auto;
}

.App-subtitle {
  font-size: 1.25em;
  font-weight: normal;
  margin: 0;
}

/* Textarea */
.App-textarea {
  background: red;
  box-sizing: border-box;
  width: 100%;
  height: 700px;
}

.App-textarea > textarea {
  color: #4a4a4a;
  font-size: 1.25em;
  font-family: "Noto Serif", serif;
  height: 100%;
  width: 100%;

  border: none;
  outline: none;
  resize: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.App-textarea::-webkit-input-placeholder {
  color: #9b9b9b;
}

/* Footer */
.App-footer {
  font-size: 0.9em;
  padding: 2em;
  padding-top: 1em;
  width: 100%;
}
